/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://weloveiconfonts.com/api/?family=entypo);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

html {
  font-size: 100%; }

body {
  font-family: "Lato";
  font-size: 1rem; }

a {
  text-decoration: none; }

#primary-nav {
  width: 100%; }

.level-one {
  overflow: hidden;
  *zoom: 1;
  background-color: #5b7a6c;
  z-index: 3; }
  .level-one > span {
    color: white;
    display: block;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.5rem;
    height: auto;
    padding: 1rem;
    -webkit-transition: all 0.6s linear;
            transition: all 0.6s linear; }
  .level-one span.active {
    background: rgba(255, 255, 255, 0.1);
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 3em;
    margin-bottom: 1rem;
    max-height: 1000px;
    opacity: 1; }
    .level-one span.active:after {
      font-size: 0.5em;
      padding-top: 4rem;
      padding-bottom: 4rem;
      padding-right: 1rem;
      padding-left: 1rem;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
  .level-one a, .level-one span {
    position: relative; }
    .level-one a:after, .level-one span:after {
      position: absolute;
      right: 0;
      top: 0;
      padding: 1rem;
      opacity: 0.5;
      width: 1rem;
      text-align: center;
      -webkit-transition: all 0.4s ease-in;
              transition: all 0.4s ease-in;
      font-family: "entypo", sans-serif;
      font-size: 1rem;
      content: "\e766"; }
  .level-one a:after {
    content: "\e766"; }
  .level-one span:after {
    content: "\e764"; }

.open > .level-one {
  margin: 1rem; }
  .open > .level-one > span {
    opacity: 1;
    padding: 1rem;
    max-height: inherit; }

.level-two {
  overflow: hidden;
  *zoom: 1;
  background-color: #688c7c;
  z-index: 2;
  position: relative;
  -webkit-transition: all 0.6s linear;
          transition: all 0.6s linear; }
  .level-two > span, .level-two > a {
    color: white;
    display: block;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 1.5rem;
    height: auto;
    padding: 1rem;
    -webkit-transition: all 0.6s linear;
            transition: all 0.6s linear; }
  .level-two span.active {
    background: rgba(255, 255, 255, 0.1);
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 3em;
    margin-bottom: 1rem;
    max-height: 1000px;
    opacity: 1; }
    .level-two span.active:after {
      font-size: 0.5em;
      padding-top: 4rem;
      padding-bottom: 4rem;
      padding-right: 1rem;
      padding-left: 1rem;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
  .level-two a, .level-two span {
    position: relative; }
    .level-two a:after, .level-two span:after {
      position: absolute;
      right: 0;
      top: 0;
      padding: 1rem;
      opacity: 0.5;
      width: 1rem;
      text-align: center;
      -webkit-transition: all 0.4s ease-in;
              transition: all 0.4s ease-in;
      font-family: "entypo", sans-serif;
      font-size: 1rem;
      content: "\e766"; }
  .level-two a:after {
    content: "\e766"; }
  .level-two span:after {
    content: "\e764"; }
  .level-two > span, .level-two > a {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    -webkit-transition: all 0.6s linear;
            transition: all 0.6s linear; }

.open > .level-two {
  margin: 1rem; }
  .open > .level-two > span, .open > .level-two > a {
    opacity: 1;
    padding: 1rem;
    max-height: inherit; }

.level-three {
  overflow: hidden;
  *zoom: 1;
  background-color: #759d8b;
  z-index: 1;
  position: relative;
  -webkit-transition: all 0.6s linear;
          transition: all 0.6s linear; }
  .level-three > a {
    color: white;
    display: block;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    height: auto;
    padding: 1rem;
    -webkit-transition: all 0.6s linear;
            transition: all 0.6s linear; }
  .level-three span.active {
    background: rgba(255, 255, 255, 0.1);
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 3em;
    margin-bottom: 1rem;
    max-height: 1000px;
    opacity: 1; }
    .level-three span.active:after {
      font-size: 0.5em;
      padding-top: 4rem;
      padding-bottom: 4rem;
      padding-right: 1rem;
      padding-left: 1rem;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
  .level-three a, .level-three span {
    position: relative; }
    .level-three a:after, .level-three span:after {
      position: absolute;
      right: 0;
      top: 0;
      padding: 1rem;
      opacity: 0.5;
      width: 1rem;
      text-align: center;
      -webkit-transition: all 0.4s ease-in;
              transition: all 0.4s ease-in;
      font-family: "entypo", sans-serif;
      font-size: 1rem;
      content: "\e766"; }
  .level-three a:after {
    content: "\e766"; }
  .level-three span:after {
    content: "\e764"; }
  .level-three > a {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    -webkit-transition: all 0.6s linear;
            transition: all 0.6s linear; }

.open > .level-three {
  margin: 1rem; }
  .open > .level-three > a {
    opacity: 1;
    padding: 1rem;
    max-height: inherit; }

.level-one {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in;
          transition: opacity 0.4s ease-in;
  margin-bottom: 1px; }
  .level-one.is-hidden {
    opacity: 0; }
  .level-one > span {
    position: relative; }
    .level-one > span:before {
      font-family: "entypo", sans-serif;
      font-size: 1rem;
      content: "\e761";
      display: inline-block;
      width: 1rem;
      line-height: 1.5rem;
      opacity: 0;
      line-height: inherit;
      margin-left: -2rem;
      margin-right: 1rem;
      -webkit-transition: all 0.4s linear;
              transition: all 0.4s linear;
      text-align: right;
      vertical-align: middle; }
    .level-one > span:after {
      display: none; }
  .level-one > .is-back-button {
    padding-top: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em; }
    .level-one > .is-back-button:before {
      opacity: 0.667;
      text-align: right;
      width: auto;
      margin-right: 0.333rem;
      margin-left: 0; }
    .level-one > .is-back-button:after {
      margin: 0;
      padding: 0;
      border: 0;
      font: inherit;
      font-size: 100%;
      vertical-align: baseline;
      display: inline-block;
      content: "(back to main)";
      margin-left: 0.333rem;
      font-size: 0.75rem;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      width: auto;
      position: static;
      right: auto;
      top: auto; }

.panel {
  max-height: 5000px;
  -webkit-transition: 0.4s;
          transition: 0.4s;
  clear: both; }

.is-hidden {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.4s;
          transition: 0.4s; }

[role="banner"] #toggle {
  background: transparent;
  border: 0;
  padding: 1em 1.25em; }
  [role="banner"] #toggle:before {
    font-family: "entypo";
    font-size: 0.75em;
    display: inline-block;
    vertical-align: middle;
    content: '';
    margin-right: 0.333em; }

[role="banner"] {
  position: relative;
  -webkit-transition: background-color 0.2s linear;
          transition: background-color 0.2s linear;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  height: 56px;
  overflow: hidden; }
  [role="banner"].is-open {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #41574d;
    -webkit-transition-delay: 0;
            transition-delay: 0; }
    [role="banner"].is-open #logo img {
      margin-top: -44px;
      -webkit-transition-delay: 0;
              transition-delay: 0; }
    [role="banner"].is-open #toggle {
      color: #fff; }
      [role="banner"].is-open #toggle:before {
        content: '\2715'; }
    [role="banner"].is-open #primary-nav {
      max-height: 9999px;
      opacity: 1; }
  [role="banner"] #primary-nav {
    max-height: 0;
    opacity: 0; }
  [role="banner"] #logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 44px;
    margin: 7px;
    overflow: hidden; }
    [role="banner"] #logo img {
      width: auto;
      height: 88px;
      -webkit-transition: all 0.2s linear;
              transition: all 0.2s linear;
      -webkit-transition-delay: 0.4s;
              transition-delay: 0.4s; }
  [role="banner"] #toggle {
    float: right;
    line-height: 1.5rem;
    font-family: "Lato";
    font-size: 1rem; }
    [role="banner"] #toggle:before {
      content: '\2630'; }

.hero {
  height: 300px;
  background-image: url(http://lorempixel.com/800/400/city/2);
  background-size: cover;
  margin-bottom: 2em;
  text-align: center; }
  .hero p {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 300;
    padding: 2rem;
    text-align: center; }
  .hero button {
    background-color: #7c6656;
    border: 0px;
    padding: 0.75rem 1rem;
    font-weight: 300;
    border-radius: 5px;
    font-family: "Lato";
    margin: 0 auto;
    color: #fff;
    font-size: 1rem; }

.callouts li {
  text-align: center;
  padding-bottom: 1em;
  margin-bottom: 1em; }
  .callouts li p {
    line-height: 1.35;
    margin: 0 20%; }
.callouts li > img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto 0.333rem; }

main.is-open {
  padding-top: 56px; }
